<%- include('./__partial__files/header.ejs') %>
    <%- include('./__partial__files/nav.ejs') %>
    
    <h1>404 hoops</h1>
    <p>We can not find the page you are looking for!</p>

<%- include('./__partial__files/footer.ejs') %>