    
    <%- include('./__partial__files/header.ejs') %>
    <%- include('./__partial__files/nav.ejs') %> 


    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About Us</h1>
                <typography class="flow-text">
                Thank you for the interest you have in our company.
                </typography>
            </div>
            <div class="col s12 m7 l8" style="font-size: 18px;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis modi, nesciunt maiores minima tenetur
                    sunt id consequuntur. Itaque delectus aut laudantium vero fugiat consequuntur voluptates. Minus porro
                    recusandae nulla itaque doloribus illo veniam quae nam consequatur. Voluptate, id esse reprehenderit
                    molestias consequuntur dicta sed facere iste quidem similique velit labore sunt repellendus, culpa quas
                    omnis blanditiis. Totam illo distinctio reiciendis, in, minima incidunt fuga culpa quos nihil quia
                    assumenda alias?</p>
            </div>
            <div class="col s12 m5 l4" style="font-size: 18px;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta natus ipsa veniam id odio aliquam
                    enim facilis officia in reiciendis sapiente veritatis eligendi doloremque, illo possimus dignissimos
                    blanditiis deleniti.</p>
            </div>
        </div>
    
    </div>

    
<%- include('./__partial__files/footer.ejs') %>