<%- include('./__partial__files/header.ejs') %>
    <%- include('./__partial__files/nav.ejs') %>
    
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>Andotrade</h1>
                <typography class="flow-text">
                    Putting traders first.
                </typography>
            </div>
            <div class="col s12 m7 l8" style="font-size: 18px;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis modi, nesciunt maiores minima tenetur sunt id consequuntur. Itaque delectus aut laudantium vero fugiat consequuntur voluptates. Minus porro recusandae nulla itaque doloribus illo veniam quae nam consequatur. Voluptate, id esse reprehenderit molestias consequuntur dicta sed facere iste quidem similique velit labore sunt repellendus, culpa quas omnis blanditiis. Totam illo distinctio reiciendis, in, minima incidunt fuga culpa quos nihil quia assumenda alias?</p>
            </div>
            <div class="col s12 m5 l4" style="font-size: 18px;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic soluta natus ipsa veniam id odio aliquam enim facilis officia in reiciendis sapiente veritatis eligendi doloremque, illo possimus dignissimos blanditiis deleniti.</p>
            </div>
        </div>

        <div class="parallax-container">
            <div class="parallax z-depth-1"><img class="responsive-img" src="images/eurcadupdate.png" alt="eur/cad image"></div>
        </div>

        <div class="row" style="font-size: 18px;">
            <div class="col s12">
                <h2>
                    Blogs
                </h2>
            </div>
            <div class="col s12 flow-text">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae iste minima incidunt id ipsam, tenetur corrupti sunt modi, ipsa facere corporis et nihil quod magnam atque pariatur deserunt </p>
            </div>
            <div class="col s12 m6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo error, odio tempore provident mollitia nisi reprehenderit saepe laudantium neque aliquam omnis, doloribus libero architecto maxime. Ducimus, culpa architecto minus recusandae quas odit consequatur beatae autem mollitia quasi voluptate ullam nisi inventore, vero quisquam provident dicta facere expedita. Eum magni eos libero commodi id sunt rerum voluptate fugiat minima, mollitia voluptatibus sed quas repellat rem architecto harum cupiditate quisquam necessitatibus laudantium alias, aliquam in et dolorem!</p>
            </div>
            <div class="col s12 m6">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet quae eius doloribus saepe sunt facilis earum, accusamus omnis quibusdam architecto quis reiciendis asperiores, ea nobis. Reiciendis repellat eligendi, vero vel quas dicta, suscipit optio doloribus sapiente nisi vitae. Ut rem at doloribus in eum voluptas amet pariatur, impedit provident aperiam neque molestias sunt quaerat, distinctio quis id labore hic voluptatem, porro similique magni nulla temporibus. At, id optio. Ab cumque ad adipisci, fuga inventore, blanditiis obcaecati error vitae nihil commodi sapiente. Assumenda amet quis quidem.</p>
            </div>
        </div>

        <div class="row" style="font-size: 18px;">
            <div class="col s12">
                <h2>
                    Services
                </h2>
            </div>
            <div class="col s12 flow-text">
                <p>We also render services to anyone who wants to learn how to trade for free. Sign up to become a member. </p>
            </div>
            <div class="col s12 m3">
                <h4>Signals</h4> 
                <p>You will learn the best candleSticks Signals at of the many at there!</p>
            </div>
            <div class="col s12 m3">
                <h4>Trade Calls</h4>
                <p>You will be able to earn while you learn the skills to become a tader.</p>
            </div>
            <div class="col s12 m3">
                <h4>Comments</h4>
                <p>As a member, you will be able to comment to charts</p>
            </div>
            <div class="col s12 m3">
                <h4>Resources</h4>
                <p>You will be the first to know of any usefull resources on the market.</p>
            </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
    <script>
        $(document).ready(function () {
            $('.parallax').parallax();
        });
    </script>
    

    
    

    
    <%- include('./__partial__files/footer.ejs') %>