    
    
        <div class="container">
            <small>AndoStudio<sup>&copy;</sup> 2020 </small>
        </div>
        

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
       

    <body/>

</html>